/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo:wght@400;700&family=Oswald:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:.5rem;
    animation: Emphasis 10s infinite;
}

/* End of Common Styles */

/* Section 1 */

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #2d2d2ebd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Section 1 icons */

.section-1-icons i {
    font-size: 25rem;
    color: #cf9d73e0;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .1rem .5rem .5rem #382727b4;
    transition: transform .3s;
}

/* Section 1 i tag virtual class naming(JS) */

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s .3s;
}
/* End Section 1 */

/* Section 2 */

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #2d2d2ebd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

/* Section 2 Container */

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

/* Section 2 card part */

.card {
    width: 30rem;
    padding: 4rem;
    background-color: rgba(153, 136, 117, 0.933);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: .1rem .1rem 1.125rem #333333;
    transition: all .65s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotateY(20deg) skewX(-2deg);
    position: relative;
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: rgba(107, 93, 74, 0.933);
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -1rem -0.75rem 1.25rem #2c2727;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: rgba(107, 93, 74, 0.933);
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.25rem -0.75rem 1.25rem #2c2727;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-2.75rem);
    transition: all .325s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    box-shadow: -1.5rem -1.5rem 1.25rem #2c2727;
}

/* Section 2 card img */

.card-img {
    width: 100%;
    height: 50%;
}

/* Section 2 card title */

.card-title {
    font-size: 3rem;
    font-weight: bold;
    color: #424041;
    text-transform: uppercase;
    letter-spacing:.5rem;
    margin: 2rem 0;
    text-shadow: .15rem .15rem .15rem #69462fef;
}

/* Section 2 card button */

.card-btn {
    width: 90%;
    height: 4rem;
    background-color: #8f5e40ef;
    color: #461b18ef;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: none;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: -.2rem -.2rem 2rem #81614cee;
    transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.card-btn:hover {
    color: #f1eaeaef;
    background-color: #69432aef;
    transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);

}

/* End of Section 2 */

/* Animation Area */

@keyframes Emphasis {
    0% {
        color: #fcb89ec4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    10% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    20% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    30% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    40% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    50% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    60% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    70% {
        color: #f8a686c4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    80% {
        color: #fcb89ec4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    90% {
        color: #f8a686c4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    100% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }
}

/* End Animation */

