/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo:wght@400;700&family=Oswald:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:.5rem;
    animation: Emphasis 10s infinite;
    transform: translateY(-2rem);
}

/* End of Common Styles */

/* Navbar */

.navbar {
    width: 100%;
    height: 14rem;
    background-color: #424141;
    position: fixed;
    top: -14rem;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .25rem .25rem .25rem #222225bd;
}

.navbar-link {
    color: #f3d7b6de;
    margin: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 3rem;
    left: 3rem;
    transition: color .5s;
}

.navbar-link:hover {
    color: #dfa35ede;
    transition: color .5s;
}

.navbar-link i {
    font-size: 7rem;
    border-radius: rem;
}

.navbar-link span {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: .5rem;
}

.menu {
    width: 4rem;
    height: 6rem;
    background-color: #424141;
    position: fixed;
    top: 1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .125rem .125rem .125rem #272323, 
    -.125rem -.125rem .125rem #272323;
    cursor: pointer;
    transition: top .4s;
}

.menu.change {
    top: 15rem;
}

.menu::before{
    content: "";
    width: .3rem;
    height: 15rem;
    background-color: #424141;
    position: absolute;
    top: -15rem;
    left: calc(50% - .15rem);
    box-shadow: .1rem 0 .1rem #272323;
}

/* End of Navbar */

/* Section 1 */

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #2d2d2ebd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Section 1 icons */

.section-1-icons i {
    font-size: 25rem;
    color: #cf9d73e0;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .1rem .5rem .5rem #382727b4;
    transition: transform .3s;
}

/* Section 1 i tag virtual class naming(JS) */

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s .3s;
}
/* End Section 1 */

/* Section 2 */

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #2d2d2ebd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;
}

/* Section 2 Container */

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

/* Section 2 card part */

.card {
    width: 30rem;
    padding: 4rem;
    background-color: rgba(153, 136, 117, 0.933);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: .1rem .1rem 1.125rem #333333;
    transition: all .65s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotateY(20deg) skewX(-2deg);
    position: relative;
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: rgba(107, 93, 74, 0.933);
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -1rem -0.75rem 1.25rem #2c2727;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: rgba(107, 93, 74, 0.933);
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.25rem -0.75rem 1.25rem #2c2727;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-2.75rem);
    transition: all .325s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    box-shadow: -1.5rem -1.5rem 1.25rem #2c2727;
}

/* Section 2 card img */

.card-img {
    width: 100%;
    height: 50%;
}

/* Section 2 card title */

.card-title {
    font-size: 3rem;
    font-weight: bold;
    color: #424041;
    text-transform: uppercase;
    letter-spacing:.5rem;
    margin: 2rem 0;
    text-shadow: .15rem .15rem .15rem #69462fef;
}

/* Section 2 card button */

.card-btn {
    width: 90%;
    height: 4rem;
    background-color: #8f5e40ef;
    color: #461b18ef;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: none;
    padding: .5rem 0;
    cursor: pointer;
    box-shadow: -.2rem -.2rem 2rem #81614cee;
    transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.card-btn:hover {
    color: #f1eaeaef;
    background-color: #69432aef;
    transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);

}

/* End of Section 2 */

/* Section 3 */

.section-3 {
    background-color: #2d2d2ebd;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link:before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: .2rem;
    height: 0;
    background-color: #fff;
    transition: height .5s;
    z-index: 10;
}

.gallery-link:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 2rem;
    width: 0;
    height: .2rem;
    background-color: #fff;
    transition: width .5s;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link:hover::after {
    width: 90%;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s .5s;
}

.food-img {
    width: 24vw;
    height: 12vw;
    object-fit: contain;
    background-color: #857f79ec;
    border-top: .3rem solid #636161;
    border-left: .3rem solid #636161;
    box-shadow: .3rem .3rem .125rem #4e4b4b,
    .5rem .5rem .125rem #3b3939,
    .7rem .7rem .125rem #312f2f;
    transition: all .5s;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem .125rem #4e4b4b,
    2rem 2rem .125rem #3b3939,
    3rem 3rem .125rem #312f2f;
    background-color: #7c6e5fad;
    filter: blur(.125rem);
    opacity: .35;
    transform: scale(1.1);
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
    width: 0;
    overflow: hidden;
    transition: width .5s;
}

.food-description {
    width: 71.25%;
    font-size: 1.345rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 1.8vw;
    left: 3.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/* End of Section 3 */

/* Section 4 */

.section-4 {
    width: 100%;
    height: 30vh;
    background-color: #353131;
    position: relative;
    display: grid;
}

.section-4-text {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
    justify-items: center;
    grid-template-rows: 6rem 2rem 10rem;
}

.section-4-heading {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
}

.section-4-paragraph {
    font-size: 1.5rem;
    color: #ffffff;
}

.signup-form {
    height: 100%;
    position: relative;
    display: grid;
    align-items: center;
}

.signup-form-input {
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: .2rem solid #353131;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #5c5c5c;
    position: relative;
}

.signup-form-input::placeholder {
    color: #615e5e;
}

.signup-form-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    background-color: #312f2f;
    color: #ffffff;
    right: 1.25rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.signup-form-btn i {
    animation: Arrow 2s infinite;
}

.copyright {
    position: absolute;
    bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffff;
    letter-spacing: .1rem;
}

/* End of Section 4 */

/* Animation Area */

@keyframes Emphasis {
    0% {
        color: #fcb89ec4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    10% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    20% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    30% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    40% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    50% {
        color: #f8a686c4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    60% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }

    70% {
        color: #f8a686c4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    80% {
        color: #fcb89ec4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    90% {
        color: #f8a686c4;
        text-shadow: .5rem .85rem .85rem #382727b4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    100% {
        color: #fcb89ec4;
        transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: .5rem 1rem .5rem #382727b4;
    }
}

@keyframes Arrow {
    0% {
        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    100% {
        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        margin-left: 2rem;
    } 
}

/* End Animation */

